@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
    
<form asp-action="Search" asp-controller="Workouts">
    <input type="text" name="x" placeholder="Search..." />
    <button type="submit">Search</button>
</form>
